{% load static %}

{% load main_extras %}

<div class='jumbotron'>
    <h2>{{ user.username }} - результаты тестирований</h2>
    <p>
        Здесь представлены результаты тестирований, пройденных {{ user.username }}
    </p>
    <input class="form-control" type="text" placeholder="Искать..." id="search"
           onkeyup='tableSearch("search", "table")'>
    <table id="table" class="table table-hover">
        <thead>
        <tr>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 0, (s) => { return Number(s.match(/>(.*?)</)[1]);})"></th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 1)"> Предмет</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 2)"> Тест</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 3, (s) => {return Number(s.match(/(.*?)\//)[1]);})"> Результат</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 4, (s) => {return Number(s.match(/(.*?) с/)[1]);})"> Время прохождения</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 5)"> Время завершения</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr id="row_{{ forloop.counter0 }}">
            {% with testing_result=result.testing_result %}
            <td scope="row"><strong>{{ forloop.counter }}</strong></td>
            <td>{{ testing_result.subject.name }}</td>
            <td>{{ testing_result.test.name }}</td>
            <td>{{ result.right_answers_count }}/{{ result.tasks_num }}</td>
            <td>{{ result.time }} с</td>
            <td>{{ result.date }}</td>
            {% endwith %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'main/js/table.js' %}"></script>
