{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}

 	<div class='jumbotron'>
 		<h2>Новый вопрос</h2>
 		<form action="{% url 'main:add_question_result' %}" enctype="multipart/form-data" method="post">
 		{% csrf_token %}
 		    <label for="test">
				<input type="hidden" id="test" name="test" value="{{ test }}">
		    </label>
		    <div class="form-row">
			  	<div class="col-md-4 mb-3">
			  		<label for="question">Формулировка вопроса
			      		<input type="text" class="form-control" id="question" name="question" required>
			      	</label>
				    <div class="custom-control custom-checkbox my-1 mr-sm-2">
				    	<input type="checkbox" class="custom-control-input" id="multiselect" name="multiselect">
				    	<label class="custom-control-label" for="multiselect">Мультивыбор</label>
				    </div>
				    <div class="custom-control custom-checkbox my-1 mr-sm-2">
				    	<input type="checkbox" class="custom-control-input" id="with_images" name="with_images">
				    	<label class="custom-control-label" for="with_images">Фотографии</label>
				    </div>
			  	</div>
		    </div>
		    <div class="form-row">
		        <div class="col-md-4 mb-3">
		        	<label for="description">Число вариантов</label>
		        	<input type="number" class="form-control" id="tasks_num" name="tasks_num" min="2" required>
		    	</div>
		    </div>
		    <div id="questions" class="col-md-4 mb-3"></div><br>
		    <button class="btn btn-primary" type="submit">Добавить</button>
		</form>
	</div>

<script src="{% static 'main/js/addQuestion.js' %}"></script>
<script type="text/javascript">
	main();
</script>

{% endblock %}