{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load main_extras %}

 	<div class='jumbotron'>
 		<h2>Подтверждение удаления</h2>
 		<p>Вы действительно хотите удалить тест '{{ test.name }}'?<br>
 		Тогда все связанные с ним вопросы будут удалены</p>
 		<form action="{% url 'main:delete_test_result' %}" method="post">
		{% csrf_token %}
			<input type="hidden" name="test_id" id="test_id" value="{{ test.id }}">
			<div class="btn-group">
				<button class="btn btn-danger" id="del" name="del"><img src='{% delete_icon %}'> Да, удалить</button>
				<button class="btn btn-primary"><img src='{% cancel_icon %}'> Нет, оставить</button>
			</div>
		</form>
 	</div>
{% endblock %}