{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}

{% load main_extras %}

 	<div class='jumbotron'>
		<h2>Тесты</h2><br>
 		<div>
 			<div class="row">
				<div class="col-sm">
					<p>Здесь отображаются все добавленные тесты.</p>
				</div>
			</div>
			<div class="btn-group mr-1">
				<a class="btn btn-success" type="submit" href="{% url 'main:add_test' %}"><img src='{% add_icon %}'> Добавить тест</a>
			</div>
			<div class="btn-group mr-1">
				<a class="btn btn-success" type="submit" href=""><img src='{% download_icon %}'> Загрузить тест</a>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm">
					<label class="my-1 mr-2">Предмет
		      			<select class="custom-select my-1 mr-sm-2" id="subject" name="subject" required="required">
					  	{% for subject in subjects %}
					  		<option value="{{ subject }}">{{ subject }}</option>
					  	{% endfor %}
					    </select>
		      		</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
			      	<label class="my-1 mr-2">Фильтр по названию теста
			      		<input type="text" class="form-control" id="name_filter" name="name_filter">
			      	</label>
		      	</div>
	  		</div>
	    </div>
	    <form action="{% url 'main:edit_test_redirect' %}" method="post">
	    	{% csrf_token %}
	    	<div id='tests_container'></div>
	    </form>
 	</div>

<script src="{% static 'main/js/editTests.js' %}"></script>
<script type="text/javascript">
	main('{{ tests }}', '{% static_url %}');
</script>

{% endblock %}