{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}
{% load main_extras %}
<div class="alert alert-warning" id="websocketErrorDiv" role="alert" style="display: none">
  Вебсокеты отвалились, поэтому автобновление страницы не работает. Для обновления страницы воспользуйтесь F5.
</div>
<div class='jumbotron'>
	<h2>Запущенные тесты</h2><br>
	<p>Здесь отображаются уже запущенные вами тесты, доступные слушателям.<br>
	Чтобы остановить тест и перейти к результатам его прохождения, нажмите 'Остановить'.</p>
	<div id="runningTests"></div>
</div>
<script src="{% static 'main/js/table.js' %}"></script>
<script src="{% static 'main/js/availableTests.js' %}"></script>
<script src="{% static 'main/js/runningTests.js' %}"></script>
<script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript">
	const runningTestsAPIUrl = "{% url 'api:get_running_tests' %}";
	const runningTestsDiv = document.getElementById("runningTests");
	const refsDict = {
        formUrl: "{% url 'main:stop_running_test' %}",
        csrfToken: '{% csrf_token %}',
        userIcon: '{% user_icon %}',
        researchIcon: '{% research_icon %}',
        clockIcon: '{% clock_icon %}',
        playIcon: '{% play_icon %}',
        teamIcon: '{% team_icon %}',
        stopIcon: '{% stop_icon %}'
    };
	renderRunningTests()

	const socketPath = '{% url "main:available_tests" %}';
    let socket = getRunningTestsWebSocket(socketPath);
    socket.onopen = (e) => {
        console.log('open socket: ', e);
    };
    socket.onerror = (e) => {
        console.log('error on socket: ', e);
        const websocketErrorDiv = document.getElementById("websocketErrorDiv");
        websocketErrorDiv.style.display = '';
    };
    socket.onclose = (e) => {
        console.log('close socket: ', e);
        setTimeout(() => {
            const websocketErrorDiv = document.getElementById("websocketErrorDiv");
            websocketErrorDiv.style.display = '';
        }, 2000);
    };
    socket.onmessage = (e) => {
        let receivedData = JSON.parse(e.data);
        if (receivedData.action === 'test was passed') {
        	renderRunningTests();
		}
    };
</script>

{% endblock %}