{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}

{% load main_extras %}

<div class='jumbotron'>
    <h2>Слушатели</h2><br>
    <div>
        <p>Здесь отображаются все слушатели, зарегестрированные в системе. <br>Чтобы посмотреть все тесты, пройденные
            слушателем, нажмите кнопку "Перейти к результатам"</p>
        <hr>
        <div class="row">
            <div class="col-sm">
                <label class="my-1 mr-2">Курс
                    <select class="custom-select my-1 mr-sm-2" id="course" required="required">
                        <option value="Все" selected>Все</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label class="my-1 mr-2">Группа
                    <select class="custom-select my-1 mr-sm-2" id="group" required="required">
                        <option value="Все" selected>Все</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <hr>
    <input class="form-control" type="text" placeholder="Искать..." id="search"
           onkeyup='tableSearch("search", "table")'>
    <table id="table" class="table table-hover">
        <thead>
        <tr>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTableByNums('table', 0, true)"></th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 1)"> Имя</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 2)"> Полное имя</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 3, (s) => {return Number(s);})"> Курс</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 4, (s) => {return Number(s);})"> Группа</th>
            <th><img class="pointer" src='{% sort_icon %}' onclick="sortTable('table', 5, (s) => {return Number(s);})"> Номер по списку</th>
            <th>Результаты тестирований</th>
        </tr>
        </thead>
        <tbody id='tableBody'></tbody>
    </table>
</div>
<script src="{% static 'main/js/table.js' %}"></script>
<script src="{% static 'main/js/usersResults.js' %}"></script>
<script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
<script type="text/javascript">
    const usersAPIUrl = "{% url 'api:users_api' %}";
    const userResultsUrl = "{% url 'main:user_results' 1 %}";
    const tableBody = document.getElementById('tableBody');
    const courseSelect = document.getElementById("course");
    const groupSelect = document.getElementById("group");

    let users = [];
    let courses = new Set();
    let groups = new Set();
    $.get(usersAPIUrl + "?group=student")
        .done(function (response) {
            users = response.users;
            for (let user of users) {
                courses.add(user.course);
                groups.add(user.group);
            }
            for (let course of courses) {
                let opt = document.createElement('option');
                opt.value = course;
                opt.innerHTML = course;
                courseSelect.appendChild(opt);
            }
            for (let group of groups) {
                let opt = document.createElement('option');
                opt.value = group;
                opt.innerHTML = group;
                groupSelect.appendChild(opt);
            }

            renderUsers();
        });
</script>

{% endblock %}