{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Результаты тестирования</h2><br>
 		<h3>Тест: {{ test.name }}</h3>
 		<ul class="list-group">
 		{% for result in results %}
 			<li class="list-group-item">
				<h3>{{ forloop.counter }}. {{ result.username }}</h3>
				<p>Результат: {{ result.right_answers_count }}/{{ result.tasks_num }}</p>
				<ul class="list-group list-group-flush">
				{% for question in result.questions %}
	    			{% if question.is_true %}
	    				<li class="list-group-item list-group-item-success">{{ forloop.counter }}. Верно</li>
					{% else %}
					    <li class="list-group-item list-group-item-danger">
					    	{{ forloop.counter }}. Выбрано: {{ question.selected_answers }}, верно: {{ question.right_answers }}
						</li>     
					{% endif %}
		        {% endfor %}
		        </ul>
		    </li>
 		{% endfor %}
 		</ul>
 	</div>
{% endblock %}