{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}

{% load main_extras %}

 	<div class='jumbotron'>
 		<h2>Доступные для запуска тесты</h2><br>
 		<div>
 			<div class="row">
				<div class="col-sm">
					<p>Запустите тест, чтобы слушатели могли приступить к его выполнению.<br>
 					Запущенные тесты отображаются во вкладке 'Запущенные тесты'.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<label class="my-1 mr-2">Предмет
		      			<select class="custom-select my-1 mr-sm-2" id="subject" name="subject" required="required">
					  	{% for subject in subjects %}
					  		<option value="{{ subject }}">{{ subject }}</option>
					  	{% endfor %}
					    </select>
		      		</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
			      	<label class="my-1 mr-2">Фильтр по названию
			      		<input type="text" class="form-control" id="name_filter" name="name_filter">
			      	</label>
		      	</div>
	  		</div>
	    </div>
	    <form action="{% url 'main:run_test_result' %}" method="post">
	    	{% csrf_token %}
	    	<div id='tests_container'></div>
	    </form>
 	</div>

<script src="{% static 'main/js/lecturerTests.js' %}"></script>
<script type="text/javascript">
	main('{{ tests }}', '{% static_url %}');
</script>

{% endblock %}