<!doctype html>
<html lang="en">
  <head>

  	<!-- Leadness, 2020 -->
  	<!-- https://github.com/LeadNess/web-testing-tool -->

  	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Quizer</title>
	{% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	{% load main_extras %}
	<link rel="stylesheet" href="{% static 'main/css/sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

  </head>
  <body>
	<div class="sidebar-container">
	  <div class="sidebar-logo" href='/'>
	    Quizer <img src="{% static 'favicon/favicon-32x32.png' %}" width="25" length="25">
	  </div>
	  <ul class="sidebar-navigation">
	  	<li class="header">Слушатель</li>
	  	<li>
	      <a href="{% url 'main:tests' %}">
	        <i aria-hidden="true"></i><img src='{% person_icon %}'> {{ user.username }}
	      </a>
	    </li>
	    <!--li>
	      <a href="{% url 'main:login_page' %}">
	        <i aria-hidden="true"></i><img src='{% logout_icon %}'> Выйти
	      </a>
	    </li-->
	    <li class="header">Тесты</li>
	    <li>
	      <a href="{% url 'main:tests' %}">
	        <i aria-hidden="true"></i><img src='{% task_icon %}'> Тесты
	      </a>
	    </li>
	  </ul>
	</div>

	<div class="content-container">

	  <div class="container-fluid">

	    {% block content %}
		{% endblock %}

	  </div>
	</div>
  </body>
</html>