{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Доступные для запуска тесты</h2><br>
 		<div>
 			<div class="row">
				<div class="col-sm">
					<p>Запустите тест, чтобы слушатели могли приступить к его выполнению.<br>
 					Запущенные тесты отображаются во вкладке 'Запущенные тесты'.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
					<label class="my-1 mr-2">Предмет
		      			<select class="custom-select my-1 mr-sm-2" id="subject" name="subject" required="required">
					  	{% for subject in subjects %}
					  		<option value="{{ subject }}">{{ subject }}</option>
					  	{% endfor %}
					    </select>
		      		</label>
				</div>
			</div>
			<div class="row">
				<div class="col-sm">
			      	<label class="my-1 mr-2">Фильтр по названию
			      		<input type="text" class="form-control" id="name_filter" name="name_filter">
			      	</label>
		      	</div>
	  		</div>
	    </div>
	    <form action="{% url 'main:run_test_result' %}" method="post">
	    	{% csrf_token %}
	    	<div id='tests_container'></div>
	    </form>
 		<script type="text/javascript">
 			function getDivElement(i) {
	    		const container = document.createElement('div');

				const hr = document.createElement('hr');
				hr.className = "my-4";

				const label = document.createElement('label');
				label.htmlFor = "test_name";

				const test_name_h3 = document.createElement('h3');
				test_name_h3.innerHTML = `${tests[i].name}`;

				const description_p = document.createElement('p');
				description_p.innerHTML = `${tests[i].description}`;

				const info_p = document.createElement('p');
				info_p.innerHTML = `Предмет: ${tests[i].subject.name }<br>
				Количество заданий в тесте: ${tests[i].tasks_num}<br>
				Время на выполнение: ${tests[i].duration} с`;

				const btn = document.createElement('button');
				btn.className = "btn btn-primary";
				btn.innerHTML = "Запустить";
				btn.id =  "test_name";
				btn.name =  "test_name";
				btn.value = `${tests[i].name}`;

				label.appendChild(test_name_h3);
				label.appendChild(description_p);
				label.appendChild(info_p);
				label.appendChild(btn);

				container.appendChild(hr);
				container.appendChild(label);

				return container;
	    	}

 			const tests = JSON.parse('{{ tests }}'.replace(/&#39;/gi, '"'));
	    	const tests_count = parseInt('{{ tests|length }}');
	    	const tests_container = document.getElementById("tests_container");
	    	
	    	const subject = document.getElementById("subject");
	    	const name_filter = document.getElementById("name_filter");

	    	for (let i = 0; i < tests_count; ++i) {
	    		if (tests[i].subject.name == subject.options[0].text) {
					tests_container.appendChild(getDivElement(i));
				}
	    	}

	    	subject.onkeyup = subject.onchange = () =>  {
	    		tests_container.innerHTML = '';
	    		for (let i = 0; i < tests_count; ++i) {
	    			if (tests[i].name.includes(name_filter.value)) {
	    				if (tests[i].subject.name == subject.options[subject.selectedIndex].text) {
	    					tests_container.appendChild(getDivElement(i));
	    				}
	    			}
	    		}
	    	};
			
	    	name_filter.onkeyup = name_filter.onchange = () =>  {
	    		tests_container.innerHTML = '';
	    		for (let i = 0; i < tests_count; ++i) {
	    			if (tests[i].name.includes(name_filter.value)) {
	    				if (tests[i].subject.name == subject.options[subject.selectedIndex].text) {
	    					tests_container.appendChild(getDivElement(i));
	    				}
	    			}
	    		}
	    	};
 		</script>
 	</div>
{% endblock %}