{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Новый тест</h2><br>
 		<form action="{% url 'main:info' %}" method="post">
 		{% csrf_token %}
		  <div class="form-row">
		  	<div class="col-md-4 mb-3">
		  		<label for="test_name">Название теста
		      		<input type="text" class="form-control" id="test_name" name="test_name" required>
		      	</label>
		  	</div>
		  </div>
		  <div class="form-row">
		     <div class="col-md-4 mb-3">
				<label class="my-1 mr-2" for="subject_name">Предмет
				  <select class="custom-select my-1 mr-sm-2" id="subject_name" name="subject_name" required="required">
				  	{% for subject in subjects %}
				  		<option value="{{ subject }}">{{ subject }}</option>
				  	{% endfor %}
				  </select>
				 </label>
		      </div>
		  </div>
		  <div class="form-row">
		     <div class="col-md-4 mb-3">
		      <label for="description">Описание</label>
		      <textarea class="form-control" rows="3" cols="30" id="description" name="description"></textarea>
		    </div>
		  </div>
		  <div class="form-row">
		     <div class="col-md-4 mb-3">
		      <label for="description">Количество заданий</label>
		      <input type="number" class="form-control" id="tasks_num" name="tasks_num" required>
		    </div>
		  </div>
		  <div class="form-row">
		     <div class="col-md-4 mb-3">
		      <label for="description">Длительность теста</label>
		      <input type="number" class="form-control" id="duration" name="duration" required>
		    </div>
		  </div>
		  <button class="btn btn-primary" type="submit">Добавить</button>
		</form>
 	</div>
{% endblock %}