{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Вопросы к тесту {{ test.name }}</h2><br>
 		<div class="form-row">
	  		<div class="col-md-4 mb-3">
		  		<label>Фильтр по формулировке
		      		<input type="text" class="form-control" id="name_filter" name="name_filter">
		      	</label>
	  		</div>
	    </div>
 		<form action="{% url 'main:delete_question_result' %}" method="post">
			{% csrf_token %}
		    Вопросы
		    <ul id="questions_container" class="list-group"></ul>
		    <script type="text/javascript">
		    	function getLiElement(i) {
		    		const li = document.createElement('li');
    				li.className = "list-group-item";

    				const checkboxContainer = document.createElement('div');
					checkboxContainer.className = 'custom-control custom-checkbox my-1 mr-sm-2';

					const input = document.createElement('input');
					input.className = "custom-control-input"
					input.type = 'checkbox';
					input.id = questions[i];
					input.name = questions[i];

					const label = document.createElement('label');
					label.className = 'custom-control-label'
					label.htmlFor = questions[i];
					label.innerHTML = `${questions[i]}`;

					checkboxContainer.appendChild(input);
					checkboxContainer.appendChild(label);

					li.appendChild(checkboxContainer);
					return li;
		    	}

		    	const q = '{{ questions }}'.replace(/&#39;/gi, '"');
		    	const questions = JSON.parse(q);
		    	const questions_count = parseInt('{{ questions|length }}');
		    	const questions_container = document.getElementById("questions_container");
		    	for (let i = 0; i < questions_count; ++i) {
		    			questions_container.appendChild(getLiElement(i));
		    		}

		    	const name_filter = document.getElementById("name_filter");
		    	name_filter.onkeyup = name_filter.onchange = () =>  {
		    		questions_container.innerHTML = '';
		    		for (let i = 0; i < questions_count; ++i) {
		    			if (questions[i].includes(name_filter.value)) {
		    				questions_container.appendChild(getLiElement(i));
		    			}
		    		}
		    	};
		    </script>
        	<br>
		    <button class="btn btn-danger" type="submit">Удалить</button>
		    <input type="hidden" name="test_id" id="test_id" value="{{ test.id }}">
		</form>
 	</div>
{% endblock %}
