{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Доступные тесты</h2><br>
 		{% for test in tests %}
 			<hr class="my-4">
			<label for='test_name'>
				<h3>{{ test.name }}</h3>
				<p>{{ test.description }}</p>
				<p>Количество заданий в тесте: {{ test.tasks_num }}<br>
				Время на выполнение: {{ test.duration }} с<br>
			    Вопросов к тесту: {{ test.questions_num }}</p>
				<form action="{% url 'main:edit_test_redirect' %}" method="post" id="form">
    			{% csrf_token %}
    				<input type="hidden" name="test_name" id="test_name" value="{{ test.name }}">
					<button class="btn btn-primary" id="btn" name="btn" value="edit_test_btn">Редактировать</button>
					<button class="btn btn-danger" id="btn" name="btn" value="del_qstn_btn">Удалить вопросы к тесту</button>
					<button class="btn btn-danger" id="btn" name="btn" value="del_test_btn">Удалить</button>
				</form>
			</label>
 		{% endfor %}
 	</div>
{% endblock %}