{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Загрузить вопросы</h2>
 		<form action="{% url 'main:load_questions_result' %}" enctype="multipart/form-data" method="post">
 		{% csrf_token %}
 		    <label for="test">
				<input type="hidden" id="test" name="test" value="{{ test }}">
		    </label>
		    <div class="form-row">
		  	    <div class="col-md-4 mb-3">
				    <div class="form-group">
				  		<label for="file">Выберите файл</label>
				    	<input type="file" class="form-control-file" id="file" name="file" required="required"> 
				    </div>
		  	    </div>
		    </div>
		    <button class="btn btn-primary" type="submit">Загрузить</button>
		</form>
	</div>
{% endblock %}