{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Запущенные тесты</h2><br>	
 		{% for test in tests %}
 			<hr class="my-4">
			<label for='test_name'>
				<h3>{{ test.name }}</h3>
				<p>{{ test.description }}</p>
				<p>Количество заданий в тесте: {{ test.tasks_num }}<br>
				Время на выполнение: {{ test.duration }} с<br>
				Уже выполнило: {{ test.finished_students_num }} слушателей</p>
				<form action="{% url 'main:stop_running_test' %}" method="post">
    			{% csrf_token %}
    				<input type="hidden" name="test_name" id="test_name" value="{{ test.name }}">
					<button class="btn btn-danger">Оcтановить</button>
				</form>
			</label>
 		{% endfor %}
 	</div>
{% endblock %}