{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Результаты тестирования</h2><br>	
 		{% for result in results %}
 			<hr class="my-4">
			<h3>{{ result.username }}</h3>
			<p>Результат: {{ result.right_answers_num }}/{{ result.tasks_num }}</p>
			<table class="table table-striped table-dark">
	            <tbody>
					{% for question in result.questions %}
	            		<tr>
		                	<td>Выбранный ответ: {{ question.selected_answers }}</td>
		                	<td>Правильный ответ: {{ question.right_answers }}</td>
		            	</tr>
	            	{% endfor %}
	            </tbody>
            </table>
 		{% endfor %}
 	</div>
{% endblock %}