{% extends "main/lecturerWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h2>Результаты тестирования</h2><br>
 		<h3>Тест: {{ test.name }}</h3>
 		{% for result in results %}
 			<hr class="my-4">
			<h3>{{ result.username }}</h3>
			<p>Результат: {{ result.right_answers_num }}/{{ result.tasks_num }}</p>
			{% for question in result.questions %}
    			{% if question.is_true %}
    				{{ forloop.counter }}. Верно
				{% else %}
					{{ forloop.counter }}. Ошибка - выбранный ответ({{ question.selected_answers }}), правильный ответ({{ question.right_answers }})     
				{% endif %}
				<br>
	        {% endfor %}
 		{% endfor %}
 	</div>
{% endblock %}