{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load static %}
{% load main_extras %}

<link rel="stylesheet" href="{% static 'main/css/modal-window.css' %}">

<div class='jumbotron'>
    <h2>Данные системы</h2><br>
    <p>Импортировать данные - восстановить данные системы с соответствии с файлом дампа БД.<br>
       Экспортировать данные - сделать дамп данных системы.</p>
    <div class="btn-group mr-2">
        <a class="btn btn-success js-open-modal" href="#" data-modal="import-modal" onclick='clearForms()'><img src='{% import_icon %}'> Импортировать данные</a>
    </div>
    <div class="btn-group mr-2">
        <a class="btn btn-success" href="{% url 'main:get_db_dump' %}"><img src='{% export_icon %}'> Экспортировать данные</a>
    </div>
    <div id="subjects-container"></div>
</div>

<div class="modal-window" data-modal="import-modal">
   <img class="modal__cross js-modal-close" src="{% close_icon %}">
   <h4>Импортировать базу</h4>
   <hr class="my hr4">
   <form action="{% url 'main:administration' %}" enctype="multipart/form-data" method='post'>
    {% csrf_token %}
        <div class="custom-file">
            <input id="dumpFile" type="file" name='dumpfile' class="custom-file-input" id="trainTextFile"
                   aria-describedby="trainTextFile" onchange="document.getElementById('fileLabel').innerText = this.files[0].name;" required>
            <label id="fileLabel" class="custom-file-label" for="trainTextFile">Выберите файл с дампом</label>
    </div>
     <div class="modal-footer">
        <div class="btn btn-primary js-modal-close"><img src="{% cancel_icon %}"> Закрыть</div>
        <button class="btn btn-success js-modal-close"><img src='{% import_icon %}'> Импортировать</button>
     </div>
    </form>
</div>

<div id="info-modal" class="modal-window" data-modal="info-modal">
   <img class="modal__cross js-modal-close" src="{% close_icon %}">
   <h4 id="info-modal-title"></h4>
   <hr class="my hr4">
   <p id="info-modal-p"></p>
   <div class="modal-footer">
      <button class="btn btn-primary js-modal-close"><img src='{% cancel_icon %}'> Закрыть</button>
   </div>
</div>
<div id="overlay" class="overlay js-overlay-modal"></div>


<script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'main/js/modalWindow.js' %}"></script>
<script type="text/javascript">
  function clearForms(el) {
        const fileLabel = document.getElementById('fileLabel');
        fileLabel.innerText = 'Выберите файл с дампом';
        const dumpFile = document.getElementById('dumpFile');
        dumpFile.value = '';
        const elements = document.getElementsByClassName('form-control');
        for (const element of elements) {
            element.value = '';
        }
    }
    const exportIconUrl = "{% export_icon %}";
    const importIconUrl = "{% import_icon %}";
    {% if info %}
      renderInfoModalWindow('{{ info.title }}', '{{ info.message }}');  
    {% endif %}
</script>

{% endblock %}