{% extends "main/lecturerWrapper.html" %}

{% block content %}

{% load main_extras %}

    <div class='jumbotron'>
        <h2>Редактировать предмет</h2><br>
        <form action="{% url 'main:edit_subject_result' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="subject_id" id="subject_id" value="{{ subject.id }}">
          <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="name">Название предмета
                    <input type="text" class="form-control" id="name" name="name" value="{{ subject.name }}" required>
                </label>
            </div>
          </div>
          <div class="form-row">
             <div class="col-md-4 mb-3">
              <label for="description">Описание</label>
              <textarea class="form-control" rows="3" cols="30" id="description" name="description">{{ subject.description }}</textarea>
            </div>
          </div>
          <button class="btn btn-primary" type="submit"><img src='{% edit_icon %}'> Редактировать</button>
        </form>
    </div>

{% endblock %}