{% extends "main/lectureWrapper.html" %}

{% block content %}
 	<div class='jumbotron'>
 		<h3>Доступные тесты</h3>
 		{% for test in iterable %}
			<label for='test_name'>
				<h3>{{ test.name }}</h3>
				<p>{{ test.description }}</p>
				<p>Количество заданий в тесте: {{ test.tasks_num }}<br>
				Время на выполнение: {{ test.duration }} с</p>
				<form action="{% url 'main:run_test' %}" method="post">
    			{% csrf_token %}
    				<input type="hidden" name="test_name" id="test_name" value="{{ test.name }}">
					<button class="btn btn-primary">Запустить</button>
				</form>
			</label>
 		{% endfor %}
 	</div>
 	<div class='jumbotron'>
 		<h3>Добавить тест</h3>
 	</div>
{% endblock %}