<!doctype html>
<html lang="en">
  <head>
	<!-- Leadness, 2020 -->
  	<title>Quizer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/sidebar.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  </head>
  <body>
	<div class="sidebar-container">
	  <div class="sidebar-logo" href='/'>
	    Quizer
	  </div>
	  <ul class="sidebar-navigation">
	  	<li class="header">Преподаватель</li>
	  	<li>
	      <a href="{% url 'main:tests' %}">
	        <i class="fa fa-tachometer" aria-hidden="true"></i> {{ user.username }}
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'main:login_page' %}">
	        <i class="fa fa-tachometer" aria-hidden="true"></i> Выйти
	      </a>
	    </li>
	    <li class="header">Управление</li>
	    <li>
	      <a href="{% url 'main:tests' %}">
	        <i class="fa fa-home" aria-hidden="true"></i> Доступные тесты
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'main:running_tests' %}">
	        <i class="fa fa-home" aria-hidden="true"></i> Запущенные тесты
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'main:add_test' %}">
	        <i class="fa fa-tachometer" aria-hidden="true"></i> Добавить тест
	      </a>
	    </li>
	    <li>
	      <a href="{% url 'main:edit_test' %}">
	        <i class="fa fa-tachometer" aria-hidden="true"></i> Редактировать тест
	      </a>
	    </li>
	  </ul>
	</div>
	<div class="content-container">
	  <div class="container-fluid">
	    {% block content %}
		{% endblock %}
	  </div>
	</div>
  </body>
</html>