{% extends "main/studentWrapper.html" %}

{% block content %}
	<script type="text/javascript">
		var ticks = {{ test_duration }};

		function letsGo() {
		  if(ticks<0) {
		       document.getElementById("time").innerHTML ='Время вышло!';
		       document.getElementById("stop_button").click();      
		       return;
		  }

		  document.getElementById("time").innerHTML='Времени осталось: ' + ticks + ' c';
		  ticks--;
		  setTimeout(letsGo,1000);
		}
	</script>
	<span class="d-block p-2 bg-primary text-white">
        <div id="time" type="text" class="btn btn-dark btn-sm"></div>
    </span>
    <script type="text/javascript">letsGo();</script>
    <br>
    <br>
    <form action="{% url 'main:test_result' %}" method="post">
		{% csrf_token %}
	    {% for question in questions %}
		 	<span class="d-block p-2 bg-primary text-white">{{ forloop.counter }}. {{ question.formulation }}</span>
		 		<table class="table table-striped table-dark">
		            <tbody>
		            	{% for option in question.options %}
		            		<tr>
		            			<label for='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>
			            			{% if question.multiselect %}
			                    		<td><input type="checkbox" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'></td>
			            			{% else %}
			                    		<td><input type="radio" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}' value="{{ forloop.counter }}"></td>
			            			{% endif %}
			            		</label>
			            		{% if question.with_images %}
			                    	<td>{{ option.option }}</td>
			            		{% else %}
			                    	<td>{{ option.option }}</td>           		    
			            		{% endif %}           	    
			                </tr>
		            	{% endfor %}
		            </tbody>
		    </table>
		    <br>
	 	{% endfor %}
        <span class="d-block p-2 bg-primary text-white">
            <input id='stop_button' type="submit" class="btn btn-dark btn-sm" value="Закончить тест">
        </span>
    </form>
{% endblock %}