{% extends "main/studentWrapper.html" %}

{% block content %}
	<script type="text/javascript">
		var ticks = {{ test_duration }};
		function runTest() {
		    if (ticks < 0) {
		       document.getElementById("stop_button").click();      
		       return;
		    }
		    document.getElementById("time").value = ticks
		    ticks--;
		    setTimeout(runTest,1000);
		}
	</script>
	<form action="{% url 'main:test_result' %}" method="post">
		<span class="d-block p-2 bg-primary text-white">
			<label for='time'>
				Времени осталось: <input id="time" type="text" name='time' class="btn btn-dark btn-sm" size='2'> с
			</label>
	    </span>
	    <script type="text/javascript">runTest();</script>
	    <br>
	    <br>
		{% csrf_token %}
	    {% for question in questions %}
		 	<span class="d-block p-2 bg-primary text-white">{{ forloop.counter }}. {{ question.formulation }}</span>
		 		<table class="table table-striped table-dark">
		            <tbody>
		            	{% for option in question.options %}
		            		<tr>
		            			<label for='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>
			            			{% if question.multiselect %}
			                    		<td><input type="checkbox" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'></td>
			            			{% else %}
			                    		<td><input type="radio" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}' value="{{ forloop.counter }}"></td>
			            			{% endif %}
			            		</label>
			            		{% if question.with_images %}
			                    	<td>{{ option.option }}</td>
			            		{% else %}
			                    	<td>{{ option.option }}</td>           		    
			            		{% endif %}           	    
			                </tr>
		            	{% endfor %}
		            </tbody>
		    </table>
		    <br>
	 	{% endfor %}
        <span class="d-block p-2 bg-primary text-white">
            <input id='stop_button' type="submit" class="btn btn-dark btn-sm" value="Закончить тест">
        </span>
    </form>
{% endblock %}