{% extends "main/studentWrapper.html" %}

{% block content %}
	<script type="text/javascript">
		var ticks = {{ test_duration }};
		function runTest() {
		    if (ticks < 0) {
		       document.getElementById("stop_button").click();      
		       return;
		    }
		    document.getElementById("time").value = ticks;
		    document.getElementById("time-div").innerHTML = `Времени осталось: ${ticks} с`;
		    ticks--;
		    setTimeout(runTest,1000);
		}
	</script>
	<form action="{% url 'main:test_result' %}" method="post">
		<div class="jumbotron">
		<div id="time-div" style="font-size: 175%;"></div>
		<label for='time'>
			<input id="time" type="hidden" name='time'>
		</label>
		<br>
		<ul class="list-group">
	    	<script type="text/javascript">runTest();</script>
			{% csrf_token %}
	    	{% for question in questions %}
		 	<li class="list-group-item">{{ forloop.counter }}. {{ question.formulation }}
		 		<ul class="list-group list-group-flush">
	            	{% for option in question.options %}
            		<li class="list-group-item">
            			<label for='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>
	            			{% if question.multiselect %}
	                    		<input type="checkbox" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>
	            			{% else %}
	                    		<input type="radio" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}' name='{{ forloop.parentloop.counter }}' value="{{ forloop.counter }}">
	            			{% endif %}
	            		</label>
	            		{% if question.with_images %}
			        		<img src="/media/{{ option.option }}" alt="Server pribolel" width="400" height="341">
	            		{% else %}
	                    	{{ option.option }}          		    
	            		{% endif %}           	    
	                </li>
	            	{% endfor %}
				</ul>
		    </li>
		    <br>
	 		{% endfor %}
        </ul>
        <br>
        <button class="btn btn-primary" id="stop_button">Закончить тест</button>
        </div>
    </form>
{% endblock %}