{% extends "main/studentWrapper.html" %}

{% block content %}

{% load static %}

{% load main_extras %}

<link rel="stylesheet" href="{% static 'main/css/modal-window.css' %}">

<div class="alert alert-warning" id="websocketErrorDiv" role="alert" style="display: none">
  Вебсокеты отвалились, поэтому автобновление страницы не работает. Для обновления страницы воспользуйтесь F5.
</div>
<div class='jumbotron' id="noRunningTestsDiv">
    <h3>Доступные тесты отсутствуют</h3>
    <p>Ни один из тестов пока не запущен.</p>
</div>
<div id="runningTestsDiv" class="column"></div>

<div id="info-modal" class="modal-window" data-modal="info-modal">
   <img class="modal__cross js-modal-close" src="{% close_icon %}">
   <h4 id="info-modal-title"></h4>
   <hr class="my hr4">
   <p id="info-modal-p"></p>
   <div class="modal-footer">
      <button class="btn btn-primary js-modal-close"><img src='{% cancel_icon %}'> Закрыть</button>
   </div>
</div>
<div id="overlay" class="overlay js-overlay-modal"></div>


<script src="{% static 'main/js/modalWindow.js' %}"></script>
<script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'main/js/availableTests.js' %}"></script>
<script type="text/javascript">
	const testsAPIUrl = "{% url 'api:tests_api' %}";
	const socketPath = '{% url "main:available_tests" %}';
	const runningTestsDiv = document.getElementById('runningTestsDiv');
    const refsDict = {
        formUrl: '{% url "main:student_run_test" %}',
        csrfToken: '{% csrf_token %}',
        userIcon: '{% user_icon %}',
        researchIcon: '{% research_icon %}',
        clockIcon: '{% clock_icon %}',
        playIcon: '{% play_icon %}'
    };
	studentRenderAvailableTests();

	let socket = getRunningTestsWebSocket(socketPath);
    socket.onmessage = (e) => {
        console.log('message', e);
        let receivedData = JSON.parse(e.data);
        if (receivedData.action === 'test was launched' || receivedData.action === 'test was stopped' ) {
        	studentRenderAvailableTests();
		}
    };
    socket.onopen = (e) => {
        console.log('open socket: ', e);
    };
    socket.onerror = (e) => {
        console.log('error on socket: ', e);
        const websocketErrorDiv = document.getElementById("websocketErrorDiv");
        websocketErrorDiv.style.display = '';
    };
    socket.onclose = (e) => {
        console.log('close socket: ', e);
        setTimeout(() => {
            const websocketErrorDiv = document.getElementById("websocketErrorDiv");
            websocketErrorDiv.style.display = '';
        }, 500);
    };
</script>
{% endblock %}