{% extends "main/studentWrapper.html" %}

{% block content %}

{% load main_extras %}

{% load static %}

<link rel="stylesheet" href="{% static 'main/css/draggable.css' %}">

<form action="{% url 'main:test_result' %}" method="post">
    <div class="jumbotron" id='top'>
    <div class="list-group-item" style="position: sticky; top: 0; z-index: 228;">
        <div id="time-div" style="font-size: 175%;"></div>
        <div>            
        {% for question_group in questions_list %}
            <div class="list-group list-group-horizontal">
            {% for question in question_group.0 %}            
                {% if forloop.counter == 1 and forloop.parentloop.counter == 1 %}
                    <a data-scroll href="#top" id="ref_{{ forloop.counter | add:question_group.1  }}" class="list-group-item list-group-item-action btn-sm text-center">1</a>
                {% else %}
                    <a data-scroll href="#{{ forloop.counter0 | add:question_group.1  }}" id="ref_{{ forloop.counter | add:question_group.1  }}" class="list-group-item list-group-item-action btn-sm text-center">{{ forloop.counter | add:question_group.1 }}</a>
                {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
    <label for='time'>
        <input id="time" type="hidden" name='time' value="{{ test_duration }}">
    </label>
    <br>
        <div class="list-group">
            {% csrf_token %}
            {% for question in questions %}
            <div class="list-group-item question" id='{{ forloop.counter }}'>
                {% autoescape off %}
                    {{ forloop.counter }}. {% process_code_tag question.formulation %}
                {% endautoescape %}
                {% if question.type == 'sequence' or question.type == 'sequence-images' %}
                <div class="ul-hover" id="sortableQuestions{{ forloop.counter }}">
                {% else %}
                <div class="list-group list-group-flush ul-hover">
                {% endif %}
                    {% for option in question.options %}
                        {% if question.type == 'sequence' or question.type == 'sequence-image' %}
                        <div class="list-group-item-action"
                             onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            {% if not question.type == 'sequence-image' %}
                            <div class="sortable-moves list-group-item list-group-item-action">{{ option.option }}
                                <input type="hidden" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'
                                       name='{{ forloop.parentloop.counter }}' value="{{ option.option }}"
                                       onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            </div>
                            {% else %}
                            <div class="sortable-moves list-group-item list-group-item-action"><img
                                    src='{% media_url %}{{ option.option }}' alt="Server pribolel" height="341"
                                    style="max-width: 100%;">
                                <input type="hidden" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'
                                       name='{{ forloop.parentloop.counter }}' value="{{ option.option }}"
                                       onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}

                        <li class="list-group-item list-group-item-action"
                            onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            {% if question.multiselect %}
                            <input type="checkbox" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'
                                   name='{{ forloop.parentloop.counter }}_{{ option.option }}'
                                   onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            {% else %}
                            <input type="radio" id='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'
                                   name='{{ forloop.parentloop.counter }}' value="{{ option.option }}"
                                   onclick='clickOption("{{ forloop.parentloop.counter }}_{{ forloop.counter }}")'>
                            {% endif %}
                            <label for='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'></label>
                            {% if question.type == 'image' %}
                            <img src='{% media_url %}{{ option.option }}' alt="Server pribolel" height="341"
                                 style="max-width: 100%;">
                            {% else %}
                            {{ option.option }}
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        <br>
    </ul>
    <br>
    <button class="btn btn-primary" id="stop-button" name="test-passed"><img src='{% finish_icon %}'> Закончить тест</button>
    </div>
</form>
<script src="{% static 'main/js/runTest.js' %}"></script>
<script src="{% static 'main/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'main/js/smooth-scroll.js' %}"></script>
<script src="{% static 'main/js/jquery-ui.js' %}"></script>
<script src="{% static 'main/js/code-prettify.js' %}"></script>
<script type="text/javascript">
    function clickOption(optionID) {
        if (this.questionsMap === undefined) {
            this.questionsMap = new Map();
            for (let i = 0; i < document.querySelectorAll(".question").length; i++) {
                this.questionsMap.set(i + 1, new Set());
            }
        }
        const questionID = parseInt(optionID.toString().split('_')[0]);
        const option = document.getElementById(optionID);
        option.checked = option.checked == null || option.checked === false;
        console.log(optionID);
        if (option.checked) {
            if (option.type === 'radio') {
                this.questionsMap.get(questionID).clear();
            }
            this.questionsMap.get(questionID).add(optionID);
        } else {
            this.questionsMap.get(questionID).delete(optionID);
        }
        const questionRef = document.getElementById('ref_' + questionID);
        console.log(this.questionsMap);
        if (this.questionsMap.get(questionID).size === 0) {
            questionRef.classList.remove('list-group-item-info');
        } else {
            questionRef.classList.add('list-group-item-info');
        }
    }

    const questionsCount = parseInt('{{ questions | length }}');
    for (let i = 1; i <= questionsCount; i++) {

        $(document).ready(function () {
            $(`#sortableQuestions${i}`).sortable();
            $(`#sortableQuestions${i}`).disableSelection();
        });
    }

    let scroll = new SmoothScroll('a[href*="#"]', {
        speed: 300 * (questionsCount / 25),
        speedAsDuration: true
    });
    runTest({{ test_duration }}, "{% url 'main:get_left_time' %}", "{{ csrf_token }}");
</script>

{% endblock %}
