{% extends "main/studentWrapper.html" %}

{% block content %}

{% load static %}

<form action="{% url 'main:test_result' %}" method="post">
	<div class="jumbotron">
	<div id="time-div" style="font-size: 175%;"></div>
	<label for='time'>
		<input id="time" type="hidden" name='time' value="{{ test_duration }}">
	</label>
	<br>
	<ul class="list-group">
		{% csrf_token %}
    	{% for question in questions %}
	 	<li class="list-group-item">{{ forloop.counter }}. {{ question.formulation }}
	 		<ul class="list-group list-group-flush">
            	{% for option in question.options %}
        		<li class="list-group-item">
        			<label for='{{ forloop.parentloop.counter }}_{{ forloop.counter }}'>
            			{% if question.multiselect %}
                    		<input type="checkbox" id='{{ forloop.parentloop.counter }}_{{ option.option }}' name='{{ forloop.parentloop.counter }}_{{ option.option }}'>
            			{% else %}
                    		<input type="radio" id='{{ forloop.parentloop.counter }}_{{ option.option }}' name='{{ forloop.parentloop.counter }}' value="{{ option.option }}">
            			{% endif %}
            		</label>
            		{% if question.with_images %}
		        		<img src="/media/{{ option.option }}" alt="Server pribolel" height="341" style="width: auto;">
            		{% else %}
                    	{{ option.option }}          		    
            		{% endif %}           	    
                </li>
            	{% endfor %}
			</ul>
	    </li>
	    <br>
 		{% endfor %}
    </ul>
    <br>
    <button class="btn btn-primary" id="stop-button"><img src='/static/main/images/finish.svg'> Закончить тест</button>
    </div>
</form>
<script src="{% static 'main/js/runTest.js' %}"></script>
<script type="text/javascript">
	const timeLeft = {{ test_duration }};
	runTest(timeLeft, "{% url 'main:get_left_time' %}", "{{ csrf_token }}");
</script>

{% endblock %}